/* .UploadModule {
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.UploadModule-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .UploadModule-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.UploadModule-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.UploadModule-link {
  color: #61dafb;
}

@keyframes UploadModule-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.photoupl {
  width: 100px;
  height: auto;
}
